<table class="table table-bordered">
    <thead>
        <tr>
            <th>Ad</th>
            <th>Yazar</th>
            <th>Yayınevi</th>
            <th>Eklenme Tarihi</th>
            <th>İşlemler</th>

        </tr>
    </thead>
    <tbody>

            <tr ng-repeat="book in $ctrl.books">

                <td>{{book.Name}}</td>
                <td>{{book.Writer}}</td>
                <td>{{book.Publisher}}</td>
                <td>{{book.CreatedAt}}</td>
                <td>

                    <a href="@Url.Action("Duzenle",new { id = book.Id })" class="edit" title="Düzenle" data-toggle="tooltip"><i class="material-icons">&#xE254;</i></a>
                    <a href="@Url.Action("Sil",new { id = book.Id })" class="delete" title="Sil" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                </td>
            </tr>
    </tbody>
</table>
